In [1]:
val1 = 1
val2 =2

In [3]:
print(1/2) #0.5
print(val1%val2) # 1

0.5
1

In [4]:
x= 2.9
print(round(x)) # first round then print option.

3

In [5]:
x =2.4
print(round(x)) # .5 to up value always 1 count.

2

In [6]:
x= 2.8
print(round(x))

3

In [9]:
import math
x =2.9     # python all time one line always, not need space in the first line.
print(math.ceil(x)) # give up integer value
print(math.floor(x)) # floor is given just base integer value for value.

3
2

In [10]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

In [14]:
#loop
i =10
if i<15:
  print("10 is the less than 15")
else:
  print("i am not in if")

10 is the less than 15

In [16]:
i= 20
if i> 15:
  print(" i am")
else:
  print("i am not")
print("other class")

 i am
other class

In [18]:
i=30   # if ----elif---elif---else condition.
if i ==10:
  print("i is 10")
elif i ==15:
   print("i is 15")
elif  i==20:
   print("i is 20")
else:
  print("i is not present")

i is not present

In [22]:
# comparison operators result always true or false is given
a =9  #Asign means store in the variable
b =5
print(a >b) #True
print(a <b) #False
print(a == b) #False
print(a!=b) #True
print(a<=b)# False

True
False
False
True
False

In [24]:
#Logical operator
a = 10
b = 10
c = 10

if a > 0 and b >0 and c > 0 : # all condition is true then given answer below
  print("The numbers are greater than 0")
else:
   print("aaaaaaaaaaa")

The numbers are greater than 0

In [25]:
a = 10
b = -10
c = 10

if a > 0 and b >0 and c > 0 : # all condition is true then given answer below
  print("The numbers are greater than 0")
else:
   print("aaaaaaaaaaa")

aaaaaaaaaaa

In [27]:
a = 10 #or logical operator
b = - 10
c = 10

if a > 0 or b >0  : # all condition is true then given answer below
  print("The numbers are greater than 0")

The numbers are greater than 0

In [28]:
a =10
if a % 3 ==0:
  print("10 is divisible by either 3 or 5")
else:
  print("other")

other

In [30]:
#Assignment operator
x = 5
x = x+5 # first do the sum then store in the x variable
print(x)

10

In [31]:
#Assignment operator
x = 5
x += 5 # first do the sum then store in the x variable# same value x+=5 === x=x+5
print(x)

10

In [33]:
a = 5+6j  #complex number
print(a)
print(a.real)
print(a.imag)
print(type(a))

(5+6j)
5.0
6.0
<class 'complex'>

In [34]:
count = 0
while count < 9:
  print(" the count is :", count)
  count = count +1
print("Good Bye!")

 the count is : 0
 the count is : 1
 the count is : 2
 the count is : 3
 the count is : 4
 the count is : 5
 the count is : 6
 the count is : 7
 the count is : 8
Good Bye!

In [38]:
counter =0
while counter < 10 :
  print("Saiful Islam", counter)
  counter= counter+1

Saiful Islam 0
Saiful Islam 1
Saiful Islam 2
Saiful Islam 3
Saiful Islam 4
Saiful Islam 5
Saiful Islam 6
Saiful Islam 7
Saiful Islam 8
Saiful Islam 9

In [39]:
counter = 1
while counter < 100 :
  print("Saiful Islam", counter)
  counter= counter+1

Saiful Islam 1
Saiful Islam 2
Saiful Islam 3
Saiful Islam 4
Saiful Islam 5
Saiful Islam 6
Saiful Islam 7
Saiful Islam 8
Saiful Islam 9
Saiful Islam 10
Saiful Islam 11
Saiful Islam 12
Saiful Islam 13
Saiful Islam 14
Saiful Islam 15
Saiful Islam 16
Saiful Islam 17
Saiful Islam 18
Saiful Islam 19
Saiful Islam 20
Saiful Islam 21
Saiful Islam 22
Saiful Islam 23
Saiful Islam 24
Saiful Islam 25
Saiful Islam 26
Saiful Islam 27
Saiful Islam 28
Saiful Islam 29
Saiful Islam 30
Saiful Islam 31
Saiful Islam 32
Saiful Islam 33
Saiful Islam 34
Saiful Islam 35
Saiful Islam 36
Saiful Islam 37
Saiful Islam 38
Saiful Islam 39
Saiful Islam 40
Saiful Islam 41
Saiful Islam 42
Saiful Islam 43
Saiful Islam 44
Saiful Islam 45
Saiful Islam 46
Saiful Islam 47
Saiful Islam 48
Saiful Islam 49
Saiful Islam 50
Saiful Islam 51
Saiful Islam 52
Saiful Islam 53
Saiful Islam 54
Saiful Islam 55
Saiful Islam 56
Saiful Islam 57
Saiful Islam 58
Saiful Islam 59
Saiful Islam 60
Saiful Islam 61
Saiful Islam 62
Saiful Islam 63
Saiful Islam 64
Saiful Islam 65
Saiful Islam 66
Saiful Islam 67
Saiful Islam 68
Saiful Islam 69
Saiful Islam 70
Saiful Islam 71
Saiful Islam 72
Saiful Islam 73
Saiful Islam 74
Saiful Islam 75
Saiful Islam 76
Saiful Islam 77
Saiful Islam 78
Saiful Islam 79
Saiful Islam 80
Saiful Islam 81
Saiful Islam 82
Saiful Islam 83
Saiful Islam 84
Saiful Islam 85
Saiful Islam 86
Saiful Islam 87
Saiful Islam 88
Saiful Islam 89
Saiful Islam 90
Saiful Islam 91
Saiful Islam 92
Saiful Islam 93
Saiful Islam 94
Saiful Islam 95
Saiful Islam 96
Saiful Islam 97
Saiful Islam 98
Saiful Islam 99

In [49]:
i = 1
while i<1000:
  print(i)

  if i==10:
    break
  i +=1

1
2
3
4
5
6
7
8
9
10

In [52]:
i = 0
while i< 6:
  i+=1
  if i ==3:
    continue
  print(i)

1
2
4
5
6

In [54]:
n =100
sum = 0
i =1

while i<= n:
  sum = sum+i
  i =i+1
print(sum)

101
5050

In [55]:
n =1000
sum = 0
i =1

while i<= n:
  sum = sum+i
  i =i+1
print(sum)

500500

In [57]:
n =100
sum = 0
i =0

while i<= n:
  sum = sum+i
  i =i+2

print(sum)

2550