In [1]:
#loop practices :
n =100
sum = 0
i =1

while i<= n:
  sum = sum+i
  i =i+1
print(sum)

5050

In [7]:
#1+2+3+4+------+50 using while loop
i = 1
sum = 0
while(i <= 50):
  print(i)
  sum = sum+i
  i =i+1
print(sum ,i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
1275 51

In [13]:
var = 2.4
print("round : ", round(var))  #

round :  2

In [8]:
import math

var = 2.5 # lower = 2 , upper = 3
print("type : ", type(var)) #float
print("ceil : ", math.ceil(var)) # 3 ( 2.5 give the value of 3)
print("floor : ", math.floor(var)) # 2
print("round : ", round(var))  #3

# for i in range(start, end-1, step = 1):
for i in range(1, 11):
    print(i)

ls = [1, 2, 3, 4, 5, 6]
for i in ls:
    print(i)

type :  <class 'float'>
ceil :  3
floor :  2
round :  2
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6

In [15]:
#loop
n =100
sum = 0
i =0

while i<= n:
  print(i)
  sum = sum+i
  i =i+2

print(sum)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
2550

Assignment -2 on Loop

In [17]:
#Sum all the odd numbers from 0 to 100 and print it to the screen@

In [32]:
i = 1 # inital value asign
sum = 0      #Initialize a variable to store the sum
while i<=100:
  sum = sum+i
 # print(i)  # check the value of i (1,3,5,.....99)
  i = i+2  # first i = 1, i=1+2 = 3,  then i = 3 , i = 3+2 = 5 , then i = 5 # continuous increasing the value of i and also add 2 for odd number.
print(sum)   # final we see the sum of odd number

2500